{% extends "layout.html" %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billing</title>
    <style>
        body {
          background-image: url("{{url_for('static',filename='assets/images/j4t0DI.jpg')}}");
          color: white;
        }
        table, th, td {
  border: 2px solid black;
}
        </style>
</head>
<center>
    <body>
    
    {% if is_named_in == False %}
        <form action="/billing" method="POST">
            <label for="name"><b>Customer Name</b></label>
            <input type="text" placeholder="Enter customer name" name="name" required><br><br>
            <label for="phone_number"><b>Phone number</b></label>
            <input type="text" minlength="10" placeholder="Enter cust. no." name = "phone_number" required> <br><br>
            <input type ="submit" value="add_name" style="background-color: #008CBA;">
        </form>
    {% endif %}

    {% if is_named_in == True %}
    <h4>{{customer_name}}</h4>
<TABLE id="dataTable" width="350px" border="1">
    <th>Name of medicine</th>
    <th>Number of tablets</th>
    <th>total</th>
    {% for med, info in med_list.items() %}
    <TR>
        <TD> {{med}} </TD>
        <TD> {{info[0]}} </TD>
        <TD> {{info[1]}} </TD>
    </TR>
    {% endfor %}
  </TABLE>
  <br><br>

        <form action="/billing" method="POST">
            <label for="name"><b>Name of Medicine</b></label>
            <input list="inventories" name="med_name" id="inventory" autocomplete="off">
            <datalist id="inventories">
                {% for i in inventory_list %}
                    <option value ="{{i}}">
                {% endfor %}
              </datalist>
            <input type="number" placeholder="Enter tabs " name="no_tabs">
            <input type ="submit" name="action" value="add" style="background-color: #008CBA;">
            <input type ="submit" name="action" value="clear" style="background-color: #008CBA;">
            <input type ="submit" name="action" value="done" style="background-color: #008CBA;">
        </form>
    {% endif %}
</body>
</center>

</html>
{% endblock %}