<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/are_you_sure" method="POST">   
        <center>
            <h2>Are you sure you want to remove this item from inventory?</h2>
            <input type="submit" name="{{in_id}}" value="cancel"> &nbsp;&nbsp;&nbsp; <input type="submit" name="{{in_id}}"  value="delete">
        </center>
    </form>
</body>
</html>