{% extends "layout.html" %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
    <style type="text/css">
        table { page-break-inside:auto }
        div   { page-break-inside:avoid; } /* This is the key */
        thead { display:table-header-group }
        tfoot { display:table-footer-group }
    </style>
</head>
<body>
    <h1 style="text-align: center;">Inventory</h1><br>
    <form action="/inventory" method="POST" style="text-align: center;">
        <input list="browsers" name="med_name" id="browser" autocomplete="off" placeholder="search">
            <datalist id="browsers">
                {% for i in inventory_list %}
                    <option value ="{{i.med_name}}">
                {% endfor %}
              </datalist> 
        <input type="submit" name="search" value="Search">
    </form>
    <br><br>
    <form action="/edit" method="POST" style="text-align: center;">
        
        <TABLE id="dataTable" border="2" align="center" style="background-color: darkseagreen;">
            <th style="text-align: center;">Name of medicine</th>
            <th style="text-align: center;">Number of tablets/stock</th>
            <th style="text-align: center;">Buying price</th>
            <th style="text-align: center;">Selling price</th>
            <th style="text-align: center;">Symptoms</th>
            <th style="text-align: center;">Date of entry</th>
            <th style="text-align: center;">Expiry date</th>
            <th style="text-align: center;">Total sold</th>
            <th style="text-align: center;">Action</th>
                {% for i in inventory_list %}
                <tr style="text-align: center; background-color: cyan;">
                    <td>{{i.med_name}}</td>
                    <td>{{i.stock}}</td>
                    <td>{{i.rate_per_tab_bought}}</td>
                    <td>{{i.rate_per_tab_sell}}</td>
                    <td>{{i.symptoms}}</td>
                    <td>{{i.entry_date}}</td>
                    <td>{{i.expiry_date}}</td>
                    <td>{{i.sold}}</td>
                    <td><input type="submit" name="{{i.id}}" value="edit"><input type="submit" name="{{i.id}}" value="delete"></td>
                </tr>
                {% endfor %}    
          </TABLE>
        </form>
    <br><br>
    
</body>
</html>
{% endblock %}